.form-container {
  display: grid;
  place-items: center;
}

.form {
  border: 2px solid #bbbaba;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.form label {
  display: block;
  margin: 0 auto;
  font-size: large;
  padding: 5px;
}

.form p {
  font-size: small;
  font-style: italic;
  color: #cc7e25;
}

.form h3 {
  color: #fea94b;
  margin: 10px;
}

.form select {
  padding: 10px;
  border-radius: 4px;
  background-color: #a9a6a3;
  color: #fff;
  border: none;
  cursor: pointer;
}

.name-field {
  height: 90px;
  width: 100%;
}

.height {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.height-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  width: 100%;
}

.height label,
.height input {
  margin: 0 80px;
}

.weight {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weight-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  width: 100%;
}

.weight label,
.weight input {
  margin: 0 80px;
}

.life-span {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.life-span-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  width: 100%;
}

.life-span label,
.life-span input {
  margin: 0 80px;
  width: 139px;
}

.reference-image-field {
  height: 90px;
  width: 100%;
}

#temperaments {
  color: black;
  font-size: medium;
  font-style: normal;
  margin: 10px;
}

button[type="submit"] {
  background-color: #fea94b;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 15px;
  cursor: pointer;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.success-container {
  display: grid;
  height: 100vh; 
  place-items: center; 
}

.success {
  border: 2px solid #bbbaba;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.success p {
  font-size: larger;
  color: #fea94b;
}
